/build/
/jME3/build/
/SceneModule/build/
/SceneModule/nbproject/private/
/SceneModule/liblwjgl.jnilib
/liblwjgl.jnilib
/JMapViewerModule/build/
/JMapViewerModule/nbproject/private/
/AdminModule/build/
/BetavilleApp/build/
/LookAndFeelModule/build/
/LookAndFeelModule/nbproject/private/
/dist/
/UserControlModule/build/
/nbproject/private/
/MapViewerModule/build/
*.dll
/OptionsModule/build/
*liblwjgl.jnilib
/GeospatialGenerationModule/build/
/UserControlModule/nbproject/private/
/JME2Loader/build/
/JME2Loader/nbproject/private/
/GeoTools/build/
/ChatModule/build/
/MapViewerModule/nbproject/private/
/ChatModule/nbproject/private/
/AdminModule/nbproject/private/